@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #141414;
}

body {
  margin: 0;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141414;
  color: white;
}

.swiper-slide {
  transition: transform 0.3s ease-in-out;
}

.swiper-slide:hover {
  transform: scale(1.05);
  z-index: 1;
}